* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #1C1B20;
    color: white;
    box-sizing: border-box;
}

.header {
    margin-top: 10px;
}

.logoName {
    margin-top: 10px;
}

@media (min-width: 992px) {
    .logoName {
        justify-content: flex-start !important;
    }

    .profile-container {
        justify-content: flex-end !important;
    }

    .user-profile {
        padding-left: 81px;
    }

    .main-table {
        margin-right: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .logoName {
        justify-content: flex-start !important;
    }

    .profile-container {
        justify-content: flex-end !important;
    }

    .user-profile {
        padding-left: 60px;
    }

    .searchBar {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .user-profile {
        justify-content: center;
    }

    .search-bar input::placeholder {
        color: rgba(247, 244, 244, 0.801);
    }

    .searchBar {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .searchBar input[type="search"] {
        margin: auto;
        display: block;
    }

    .table-custom th,
    .table-custom td {
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    .table-button {
        justify-content: center;
    }

    .table-button button {
        width: 60%;
    }
}

.profile {
    display: flex;
    justify-content: flex-end;
}

.profile img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    position: relative;
}

.brekline {
    border-bottom: 2px solid #4E4D51;
    margin-top: 10px;
}

.user-profile {
    display: flex;
    position: relative;
}

.user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 21px;
}

.searchBar {
    margin-top: 10px;
}

.userinfo {
    margin-left: 10px;
}

.userinfo h4,
.userinfo p {
    color: rgba(247, 244, 244, 0.801);
}

.userinfo h4 {
    margin-top: 10px;
}

.search-bar {
    margin-top: 40px;
}

.search-bar input::placeholder {
    color: rgba(247, 244, 244, 0.801);
    margin-right: 30px !important;
}

.input-group-prepend {
    position: absolute;
    left: 6px;
    top: 18px;
    z-index: 1;
}

.input-group-text {
    background: transparent;
    color: rgba(247, 244, 244, 0.801);
    border: none;
    padding: 0;
    margin-left: 10px;
}

.form-control {
    height: 50px;
    background-color: #3D3F4B;
    border: none;
    border-radius: unset;
}

.form-inline {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

.table-responsive {
    overflow-x: auto;
}

.table-button {
    display: flex;
}

.table-button button {
    background-color: #6377FC;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 48px;
    color: rgba(247, 244, 244, 0.801);
    font-size: large;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-button {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menubar-container {
    position: absolute;
    top: -26px;
    right: 0;
    background-color: #1C1B20;
    z-index: 1;
    padding: 10px;
}

.userinfo {
    padding: 10px;
    background-color: #1C1B20;
}