body {
    background-color: #1C1B20;
    color: white;
    font-family: sans-serif;
    /* height: 1200px; */

}


.header {
    margin-top: 10px;

}

.logoName h4 {
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    margin-top: 10px;

}

.profile {
    display: flex;
    justify-content: flex-end;

}

.profile img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    position: relative;
    margin-right: 40px;
}

.brekline {
    border-bottom: 2px solid #4E4D51;
    margin-top: 10px;
}

.search-bar {
    margin-top: 40px;

}

.form-control {
    /* width: 70%; */
    height: 50px;
    background-color: #3D3F4B;
    border: none;
    border-radius: unset;
}

.search-bar input::placeholder {
    color: rgb(247, 244, 244);
}

.form-inline {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}