<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Josefin+Sans:300,400,700">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>


    <nav>

        <a href="" class="nav-icon">
            <span class="lnr lnr-menu"></span>
        </a>


        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Special Dishes <i class="fas fa-caret-down" style="margin-left: 7px; font-size: 14px;"></i>
                </a>

                <ul>
                    <li>
                        Beaf Steak Sauce
                    </li>
                    <li>
                        Chicken Karahi
                    </li>
                </ul>
            </li>
        </ul>


        <div>
            <a href="" class="navbar-brand">
                <img src="logo.png" alt="">
            </a>
        </div>


        <ul>
            <li>
                <a href="">Menu</a>
            </li>
            <li>
                <a href="">Team</a>
            </li>
            <li>
                <a href="">Reservation</a>
            </li>
        </ul>


        <a href="" class="nav-icon">
            <span class="lnr lnr-magnifier"></span>
        </a>
    </nav>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1>We Love<br>Delicious Food</h1>
                    <div class="hero button">
                        <button class="main-btn" type="submit">Explore Menu</button>
                        <button type="submit">Play Video</button>
                    </div>
                    <div class="hero-icon">
                        <h3>Fast Delivery</h3>
                        <i class="fa fa-rocket"></i>
                        <h3>Fresh Food</h3>
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                        <h3>24/7 Support</h3>
                        <i class='far fa-comment'></i>
                    </div>
                </div>

                <div class="col-6">
                    <img src="hero-1.jpg" alt="Delicious Food" class="hero-img">
                </div>
            </div>
        </div>

    </section>
</body>

</html>
</body>

</html>