.list {
    list-style: none;

}

.list li {
    /* border: 1px solid white; */
    display: flex;
    padding: 8px;
    height: 50px;
    width: 75%;
    transition: background-color 0.3s;
}

.list li:hover {
    background-color: #3D4047;

}

.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.icon-style {
    margin-right: 10px;
}

.menu-text {
    margin-left: 10px;
}