@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

nav ul {
    display: flex;
    gap: 20px
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-family: open sans;
    font-weight: 300;
    font-size: 16px;
}

nav ul li ul {
    display: none;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px -5px #e22104;
    padding: 15px;
    border-bottom: 2px solid #e22104;
    border-radius: 3px;
    position: absolute;
    margin-top: 10px;
    z-index: 1;
}

nav ul li:hover>ul {
    display: flex;
}

nav ul li ul li {
    font-family: open sans;
    font-weight: 400;
    color: #212529
}

a {
    text-decoration: none;
}

li a:hover {
    color: #e22104;
}

.nav-icon:hover {
    color: #e22104
}

nav .navbar-brand img {
    width: 120px;
    height: 50px;
}


/* Hero Section */

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero button {
    margin-top: 20px;
}

.hero button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.hero button:hover {
    background-color: #45a049;
}

.hero-icon {
    margin-top: 30px;
}

.fa {
    font-size: 24px;
    margin-right: 10px;
}

.fa-leaf {
    color: green;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero .button {
    margin-top: 20px;
}

.hero button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.hero button:hover {
    background-color: #45a049;
}

.hero-icon {
    margin-top: 30px;
}

.hero-icon h3 {
    display: inline-block;
    margin-right: 10px;
}

.fa {
    font-size: 24px;
    margin-right: 10px;
}

.fa-leaf {
    color: green;
}

.hero-img {
    width: 100%;
    height: auto;
    display: block;
}